<div>
  <div class="flex flex-col gap-3 pb-3 mb-3 border-b">
    <div class="flex items-center justify-between">
      <span class="text-darkGray">Merchandise Subtotal:</span>
      <span>{{subtotal.toLocaleString('en-US')}} ₫</span>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-darkGray">Shipping Total:</span>
      <span>46.000đ</span>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-darkGray">Shipping Discount:</span>
      <span class="text-lightGreen"> - {{(totalPrice >= 300000 ? 30000:totalPrice >= 150000 ? 15000 :
        0).toLocaleString('en-US')}} ₫</span>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-darkGray">Merchandise Discount:</span>
      <span class="text-lightGreen"> - {{totalDiscount.toLocaleString('en-US')}} đ</span>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <span>Total price: </span>
    <span class="text-xl font-medium text-hotRed">{{totalPrice.toLocaleString('en-US')}} ₫</span>
  </div>
  <div class="flex items-center my-3">
    <img src="https://salt.tikicdn.com/ts/upload/70/f9/77/3b172be9ee58c8104fe8a4d40c4f5633.png" class="w-[90px] mr-2"
      alt="">
    <span class="text-sm font-medium text-black">have been applied!</span>
  </div>
  <!-- [routerLink]="'/customer/account/purchase'" -->
  <app-button (click)="submitOrder()">Place Order</app-button>
</div>