<div class="p-3 bg-white rounded">
  <div class="pb-3 mb-3 border-b ">
    <p class="text-lg font-medium">Thông tin cá nhân</p>
    <p class="text-darkGray">Quản lý và bảo vệ tài khoản của bạn. Mã tài khoản của bạn: {{dataUser.id}} </p>
  </div>
  <form class="grid grid-cols-3 gap-x-5" [formGroup]="editUserForm" (ngSubmit)="submitForm()">
    <div class="flex flex-col col-span-2 gap-5 px-10 py-5 border-r">
      <div class="flex items-center gap-x-5">
        <span class="flex-1">Full name</span>
        <input type="text" class="w-[80%] px-2 py-2 border" formControlName="fullName">
      </div>
      <div class="flex items-center gap-x-5">
        <span class="flex-1">Email</span>
        <input type="text" class="w-[80%] px-2 py-2 border" formControlName="email">
      </div>
      <div class="flex items-center gap-x-5">
        <span class="flex-1 whitespace-nowrap">Phone number</span>
        <input type="text" class="w-[80%] px-2 py-2 border" formControlName="phone">
      </div>
      <div class="flex items-center gap-x-5">
        <span class="whitespace-nowrap">Gender</span>
        <mat-radio-group aria-label="Select an option" formControlName="sex">
          <mat-radio-button value="0">Male</mat-radio-button>
          <mat-radio-button value="1">Female</mat-radio-button>
          <mat-radio-button value="2">Other</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center">
      <app-input-file [base64Image]="base64Image" [dataUser]="dataUser"
        (handleChange)="handleChangeFile($event)"></app-input-file>
    </div>

    <app-button types="submit" class="col-span-2 mx-[200px]" className="w-[237.6px] h-[40px]" [loading]="loading">Save
      change</app-button>
  </form>
</div>