<div>
  <div class="text-center">
    Logo
  </div>
  <div class="mb-5">
    <span class="text-xl font-medium">Login</span>
  </div>
  <div class="">
    <form class="w-full example-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">

      <mat-form-field class="w-full example-full-width">
        <mat-label>Email or phone number</mat-label>
        <input type="text" matInput formControlName="username">
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon [class.hide]="hide" class="mr-3 text-black text-md">{{hide ? 'visibility_off' :
            'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <app-button types="submit">LOG IN</app-button>
      <p class="mt-3 text-xs text-primary">Forgot password?</p>
      <p class="w-full my-4 text-center or">
        <span>Or</span>
      </p>

      <div class="flex items-center gap-x-5">
        <div
          class="flex items-center justify-center w-full px-4 py-2 transition-all border rounded cursor-pointer gap-x-2 hover:bg-slate-50">
          <app-icon-google></app-icon-google>
          <span>Google</span>
        </div>

        <div
          class="flex items-center justify-center w-full px-4 py-2 transition-all border rounded cursor-pointer gap-x-2 hover:bg-slate-50">
          <app-icon-facebook></app-icon-facebook>
          <span>Facebook</span>
        </div>
      </div>

      <div class="mt-5 text-center text-lightGray">
        New to logo? <span class="ml-1 text-primary">Sign Up</span>
      </div>
    </form>
  </div>
</div>