<div class="p-3 bg-white rounded">
  <p class="mb-3 text-xl font-medium">Payment Method</p>
  <mat-radio-group aria-label="Select an option" class="flex flex-col gap-5" (change)="onRadioChange($event)">
    <ng-container *ngFor="let pay of arrPay">
      <mat-radio-button [value]="pay.value">
        <div class="flex items-center gap-x-3">
          <img [src]="pay.url" class="w-8 h-8" alt="">
          <span>{{pay.content}}</span>
        </div>
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>
</div>