<div class="flex flex-col w-full h-full overflow-hidden transition-all bg-white rounded hover:shadow-2xl">
  <img src="https://cdn.shopify.com/s/files/1/0685/2237/7522/products/Polomanor_ao-polo_Blaro_050123_1.jpg?v=1673001524"
    class="h-[190px] w-full object-cover" alt="">
  <div class="flex flex-col flex-1 p-2">
    <div class="flex-1 text-xs">
      <p>Áo Polo nam có cổ UGO-BLACK vải cá sấu cotton UNI
      </p>
    </div>
    <div class="my-2">
      <app-icon-discount [percent]="'42%'"></app-icon-discount>
    </div>
    <div class="flex items-center justify-between mt-auto">
      <span class="font-medium text-hotRed">139.000</span>
      <span class="text-xs text-gray-400">387 sold</span>
    </div>
  </div>
</div>