<div class="flex flex-col w-full h-full cursor-pointer overflow-hidden transition-all bg-white rounded hover:shadow-2xl"
  [routerLink]="'/product/'+productItem.id">
  <img [src]="productItem.Image_Products[0].Image_Product_Detail.photo_url" class="h-[190px] w-full object-cover"
    alt="">
  <div class="flex flex-col flex-1 p-2">
    <div class="flex-1 text-xs">
      <p>{{productItem.Product_Detail.name}}
      </p>
    </div>
    <div class="my-2">
      <ng-container *ngIf="productItem?.Discount_Percent?.percent; else discountOption">
        <app-icon-discount [percent]="productItem.Discount_Percent.percent+'%'"></app-icon-discount>
      </ng-container>
      <ng-template #discountOption>
        <ng-container *ngIf="productItem.Product_Price_Options.length > 0">
          <ng-container *ngIf="getDiscountHigh(productItem.Product_Price_Options)!==0">
            <app-icon-discount [percent]="getDiscountHigh(productItem.Product_Price_Options)+'%'"></app-icon-discount>
          </ng-container>
        </ng-container>
      </ng-template>
    </div>
    <div class="flex items-center justify-between mt-auto">
      <ng-container *ngIf="productItem.Product_Price_Options.length > 0; else noOption">
        <span
          class="font-medium text-hotRed">{{getLowPrice(productItem.Product_Price_Options).toLocaleString('en-US')}}</span>
        <span class="text-xs text-gray-400">387 sold</span>
      </ng-container>
      <ng-template #noOption>
        <ng-container *ngIf="productItem.Product_Detail.price_discount;else noDiscount">
          <span
            class="font-medium text-hotRed">{{productItem.Product_Detail.price_discount.toLocaleString('en-US')}}</span>
        </ng-container>
        <ng-template #noDiscount>
          <span
            class="font-medium text-hotRed">{{productItem.Product_Detail.price_original.toLocaleString('en-US')}}</span>
        </ng-template>
        <span class="text-xs text-gray-400">387 sold</span>
      </ng-template>
    </div>
  </div>
</div>