<h1 mat-dialog-title>Chi tiết hóa đơn, mã hóa đơn: {{data.orderID}}</h1>
<form mat-dialog-content [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div class="content max-w-[930px]">
    <div class="flex items-center gap-x-5">
      <mat-form-field class="w-full example-full-width">
        <mat-label>Full name</mat-label>
        <input type="text" matInput formControlName="fullName" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="w-full example-full-width">
        <mat-label>Phone number</mat-label>
        <input type="text" matInput formControlName="phone" [disabled]="true">
      </mat-form-field>
    </div>
    <div class="flex items-center gap-x-5">
      <mat-form-field class="w-full example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [disabled]="true">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Nhóm quyền</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let group of listGroup" [value]="group.name" (click)="handleChooseGroup(group.id)">
          {{group.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="flex items-center !justify-end">
    <div class="flex items-center gap-x-2">
      <app-button types="submit">Lưu</app-button>
      <app-button mat-dialog-close className="bg-white !text-black hover:bg-slate-100">Đóng</app-button>
    </div>
  </div>
</form>