<ng-container *ngIf="!dataUser.Shop;else noShop">
  <div class="w-full">
    <h2>Đăng ký</h2>
    <form mat-dialog-content [formGroup]="shopForm" (ngSubmit)="submitForm()">
      <div class="mb-5 text-center">
        <p class="mb-2 text-darkGray">Avatar</p>
        <app-input-file [base64Image]="base64Image" (handleChange)="handleChangeFile($event)"></app-input-file>
      </div>
      <div class="grid grid-cols-2 mb-5 border-b gap-x-5">
        <mat-form-field class="w-full">
          <mat-label>Tên shop</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Tên miền hoặc username</mat-label>
          <input type="text" matInput formControlName="slug" placeholder="market.com, eva.vn,...">
        </mat-form-field>
        <mat-form-field class="w-full ">
          <mat-label>Số điện thoại</mat-label>
          <input type="text" matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities$ | async" [value]="city.name"
              (click)="handleChooseCity(city.code)">{{city.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>District</mat-label>
          <mat-select formControlName="district">
            <mat-option *ngFor="let district of districts$ | async" [value]="district.name"
              (click)="handleChooseDistrict(district.name)">{{district.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Ward</mat-label>
          <mat-select formControlName="ward">
            <mat-option *ngFor="let ward of wards" [value]="ward.name">{{ward.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Số nhà</mat-label>
          <input type="text" matInput formControlName="address">
        </mat-form-field>
      </div>
      <p class="text-xs text-darkGray">Nếu muốn đổi số điện thoại, bạn vui lòng chỉnh sửa tại <a
          [routerLink]="'/customer/account/edit'" class="text-primary">"Hồ sơ của tôi"</a> ở trang chủ sau khi hoàn tất
        quá
        trình
        đăng ký</p>
      <div class="flex items-center !justify-end">
        <div class="">
          <app-button types="submit" className="!w-[98.49px] h-[40px]" [loading]="loading">Tiếp theo</app-button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #noShop>
  <div class="flex items-center justify-center py-10">
    <div class="w-[500px] flex flex-col items-center gap-5 text-center m">
      <p>
        <img src="https://deo.shopeesz.com/shopee/pap-admin-live-sg/upload/upload_1396437671da07b5825d85e6f0eb7916.png"
          alt="">
      </p>
      <h3 class="text-xl font-medium">Đăng ký thành công</h3>
      <p class="text-base text-darkGray">Hãy đăng bán sản phẩm đầu tiên để khởi động hành trình bán hàng cùng Shopee
        nhé!</p>
      <app-button [routerLink]="'/seller/portal/product/new'" className="">Thêm sản phẩm</app-button>
    </div>
  </div>
</ng-template>