<div
  class="relative min-w-[5rem] min-h-[2.15rem] cursor-pointer px-4 flex items-center justify-center transition-all border rounded  hover:border-primary hover:text-primary"
  (click)="checkedChange.emit(nameOption)" [class.is-active]="isActive">
  {{nameOption}}
  <div class="absolute w-[15px] h-[15px] flex items-center justify-center right-0 bottom-0 rounded-br overflow-hidden"
    [class.product_tick]="isActive">
    <app-icon-check class="absolute bottom-0 right-0"></app-icon-check>
  </div>
</div>