<div>
  <div class="mb-3 bg-white ">
    <p class="py-3 font-medium text-center uppercase">Khám phá mỗi ngày</p>
    <p class="py-[3px] bg-blue-500"></p>
  </div>
  <div class="grid grid-cols-6 gap-3">
    <ng-container *ngFor="let product of listProduct">
      <app-product-item [productItem]="product" class="cursor-pointer"></app-product-item>
    </ng-container>
  </div>
  <div class="mt-5">
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
      [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>