<h1 mat-dialog-title class="text-4xl">Thêm vào giỏ hàng</h1>
<form mat-dialog-content>
  <div class="content max-w-[550px]">
    <ng-container *ngIf="!isGroupCart; else groupCart">
      <div class="flex items-center gap-10 my-5">
        <app-button theme="blue" className="flex items-center gap-x-2" (click)="handleAddToCart()">
          <app-icon-plus-cart color="#0A68FF" stroke="#0A68FF"></app-icon-plus-cart>
          <p>Thêm vào giỏ hàng mặc định</p>
        </app-button>
        <app-button theme="blue" className="flex items-center gap-x-2" (click)="handleChooseGroupCart()">
          <app-icon-plus-cart color="#0A68FF" stroke="#0A68FF"></app-icon-plus-cart>
          <p>Thêm vào giỏ hàng chung</p>
        </app-button>
      </div>
    </ng-container>
    <ng-template #groupCart>
      <form [formGroup]="cartForm" (ngSubmit)="submitForm()" class="mt-5">
        <mat-form-field class="w-full example-full-width">
          <mat-label>Nhập tên giỏ hàng chung</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <app-button types="submit">Tạo</app-button>
      </form>
    </ng-template>
  </div>
  <div mat-dialog-actions class="flex items-center !justify-end">
    <div class="flex items-center gap-x-2">
      <app-button mat-dialog-close className="bg-white !text-black hover:bg-slate-100">Đóng</app-button>
    </div>
  </div>
</form>