<div *ngIf="hasType;else notHasType" class="flex items-center gap-x-2">
  <div class="w-[110px]">
    <span class="text-darkGray">{{nameType.name_product_type}}</span>
  </div>
  <div class="flex flex-wrap items-center flex-1 gap-3">
    <ng-container *ngFor="let nameOption of nameOptionList; let i = index">
      <app-button-option (click)="handleChooseOption.emit({option: nameOption, index: i,type: nameType})"
        (checkedChange)="onChecked($event, getNameOptionValue(nameOption))"
        [isActive]="getNameOptionValue(nameOption) === activeOption"
        [nameOption]="getNameOptionValue(nameOption)">></app-button-option>
    </ng-container>
  </div>
</div>

<ng-template #notHasType>
  <div class="flex flex-wrap items-center flex-1 gap-3">
    <app-button-option *ngFor="let nameOption of nameOptionList"
      (checkedChange)="onChecked($event, getNameOptionValue(nameOption))" [isActive]="nameOption === activeOption"
      [nameOption]="getNameOptionValue(nameOption)"></app-button-option>
  </div>
</ng-template>