<div class="p-3 bg-white rounded-lg">
  <div class="flex items-center justify-between">
    <div>
      <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/fb1088de81e42c4e538967ec12cb5caa.png" alt=""
        class="w-[114px] h-[30px] object-contain">
    </div>
    <p>Read all</p>
  </div>
  <div class="grid grid-cols-12 gap-x-5">
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img src="https://salt.tikicdn.com/cache/w1200/ts/product/83/30/87/737846efdb9f28f0f51352cacf9225c5.jpg"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img
            src="https://salt.tikicdn.com/cache/750x750/ts/product/0a/f6/38/bc10734989977da424642a1c4750eee2.jpg.webp"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img
            src="https://salt.tikicdn.com/cache/750x750/ts/product/70/9a/98/e6d54019a2079b9565114bce93b245b7.jpg.webp"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img
            src="https://salt.tikicdn.com/cache/750x750/ts/product/e4/a3/52/4845a31ebb7c0b75766ef9272506f236.jpg.webp"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img
            src="https://salt.tikicdn.com/cache/750x750/ts/product/50/bd/eb/51937df1d205a27deb93bde1dda06f05.jpg.webp"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="h-full p-3">
        <div class="relative w-full h-[200px]">
          <span
            class="absolute px-2 py-1 text-xs font-medium text-hotRed bg-red-200 rounded-md -left-2 top-1">-42%</span>
          <img
            src="https://salt.tikicdn.com/cache/750x750/ts/product/2b/84/ff/cb34637573525a998596b58d6939411e.jpg.webp"
            alt="" class="object-cover w-full h-full max-w-full ">
          <img src="../../../../../assets/img/free-ship.png" alt=""
            class="absolute bottom-0 left-0 object-contain w-[60%]">
        </div>
        <p class="my-2 font-medium text-center text-hotRed">89.000đ</p>
        <div class="relative w-full h-4 bg-red-200 rounded-full">
          <div class="h-4 bg-hotRed rounded-full" style="width: 45%"></div>
          <img src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg" alt=""
            class="absolute object-cover w-6 bottom-1 left-1">
          <p class="absolute bottom-0 text-[13px]  text-white -translate-x-1/2 left-1/2">7 Sold</p>
        </div>
      </div>
    </div>
  </div>
</div>