mat-label {
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
  border-collapse: collapse;
}

th {
  @apply bg-whiteGray;
}

table,
th,
td {
  @apply border border-gray-300 p-5;
}
