<div class="container">
  <div class="flex gap-x-5">
    <div class="fixed w-[250px] flex flex-col gap-5">
      <ul class="py-4 bg-white rounded">
        <li class="py-2 text-[15px] px-7 hover:bg-whiteGray" *ngFor="let item of list"
          (click)="scrollToSection(item.section)">{{item.name}}</li>
      </ul>
      <app-seller-hint-total [focusInput]="focusInput"></app-seller-hint-total>
    </div>

    <form #formContainer [formGroup]="productForm" (ngSubmit)="submitForm()"
      class="w-full flex flex-col gap-5 ml-5 pl-[250px]">
      <div id="section1" class="p-4 bg-white rounded">
        <p class="mb-5 text-xl font-bold">Thông tin cơ bản</p>
        <div class="flex flex-col gap-5">
          <app-form-product-row title="Hình ảnh sản phẩm">
            <div class="flex flex-col items-start gap-3">
              <p>Hình ảnh tỷ lệ 3:4 <span class="ml-2 text-darkGray">Giúp sản phẩm thời trang thêm nổi bật
                  với
                  tỷ lệ hình
                  ảnh 3:4.</span></p>
              <app-icon-add-image-product (handleFocus)="handleFocus($event)" [listImages]="listImage"
                [countImage]="(listBase64 ? listBase64.length : 0) + (listImage ? listImage.length : 0)"
                [listBase64]="listBase64" (handleChange)="handleChangeImageProduct($event)"
                (handleDeleteImage)="handleDeleteImage($event)"></app-icon-add-image-product>
            </div>
          </app-form-product-row>
          <app-form-product-row title="Tên sản phẩm">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput formControlName="name" (focus)="handleFocus('name')">
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Nghành hàng">
            <ng-container *ngIf="nameCategory && nameCategoryFilter;else noCategory">
              <div class="flex flex-col items-start">
                <p class="mb-2">{{nameCategory}} ><span class="ml-1">{{nameCategoryFilter}}</span></p>
                <app-button (click)="handleFocus('category')" theme="blue" (click)="openModalEditCategory()">Sửa
                  nghành hàng</app-button>
              </div>
            </ng-container>
            <ng-template #noCategory>
              <app-button (click)="handleFocus('category')" theme="blue" (click)="openModalChooseCategory()">Chọn nghành
                hàng</app-button>
            </ng-template>
            <!-- <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput formControlName="category" (focus)="handleFocus('category')">
            </mat-form-field> -->
          </app-form-product-row>
          <app-form-product-row title="Mô tả sản phẩm">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." formControlName="desc"
                (focus)="handleFocus('desc')"></textarea>
            </mat-form-field>
          </app-form-product-row>
        </div>
      </div>

      <div id="section2" class="p-4 bg-white rounded">
        <p class="mb-5 text-xl font-bold">Thông tin chi tiết</p>
        <div class="grid grid-cols-2 gap-5">
          <app-form-product-row title="Thương hiệu">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Chất liệu">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Xuất xứ">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Màu sắc">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Size">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
          <app-form-product-row title="Kiểu dáng">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </app-form-product-row>
        </div>
      </div>

      <div id="section3" class="p-4 bg-white rounded">
        <p class="mb-5 text-xl font-bold">Thông tin bán hàng</p>
        <div class="flex flex-col gap-5">
          <ng-container *ngIf="!isChooseOption; else hasOption">
            <app-form-product-row title="Phân loại hàng">
              <app-button theme="blue">
                <div class="flex items-center gap-x-2" (click)="handleChooseOption()">
                  <app-icon-plus></app-icon-plus>
                  <span>Thêm phân loại</span>
                </div>
              </app-button>
            </app-form-product-row>
            <app-form-product-row title="Giá">
              <mat-form-field class="w-full">
                <mat-label>Nhập vào</mat-label>
                <input type="number" matInput formControlName="price_original" (focus)="handleFocus('price_original')">
              </mat-form-field>
            </app-form-product-row>
            <app-form-product-row title="Kho hàng">
              <mat-form-field class="w-full">
                <mat-label>Nhập vào</mat-label>
                <input type="number" matInput formControlName="quantity" (focus)="handleFocus('quantity')">
              </mat-form-field>
            </app-form-product-row>
          </ng-container>
          <ng-template #hasOption>
            <app-form-product-row title="Phân loại hàng">
              <div class="flex flex-col gap-5  flex-1">
                <app-button (click)="destroyOption()" className="!bg-red-50 !text-red-500 !border !border-red-500">Hủy
                  phân loại
                  hàng</app-button>
                <div class="flex w-full flex-col px-3 py-5 bg-whiteGray rounded gap-3">
                  <div class="flex gap-x-5">
                    <p>Nhóm phân loại 1</p>
                    <mat-form-field class="w-full">
                      <mat-label>ví dụ: màu sắc v.v</mat-label>
                      <input type="text" matInput formControlName="first_type">
                    </mat-form-field>
                  </div>
                  <div class="flex gap-x-5">
                    <p>Phân loại hàng</p>
                    <div class="grid grid-cols-3 gap-5">
                      <ng-container *ngFor="let option of formControlFirstOptions; let i = index">
                        <div class="flex items-center gap-x-2">
                          <mat-form-field class="w-full">
                            <mat-label>ví dụ: trắng, đỏ v.v</mat-label>
                            <input type="text" #first_option matInput name="first_option" (change)="handleChangeInput()"
                              [value]="option.length ? option: ''">
                          </mat-form-field>
                          <app-icon-plus (click)="addFirstOption(i)"></app-icon-plus>
                          <app-icon-trash (click)="deleteFirstOption(i)"></app-icon-trash>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="flex w-full flex-col px-3 py-5 bg-whiteGray rounded gap-3">
                  <ng-container *ngIf="isChooseSecondOption;else noChooseSecondOption">
                    <div class="flex gap-x-5">
                      <p>Nhóm phân loại 2</p>
                      <mat-form-field class="w-full">
                        <mat-label>ví dụ: kích thước v.v</mat-label>
                        <input type="text" matInput formControlName="second_type">
                      </mat-form-field>
                    </div>
                    <div class="flex gap-x-5">
                      <p>Phân loại hàng</p>
                      <div class="grid grid-cols-3 gap-5">
                        <ng-container *ngFor="let option of formControlSecondOptions; let i = index">
                          <div class="flex items-center gap-x-2">
                            <mat-form-field class="w-full">
                              <mat-label>ví dụ: S, M v.v</mat-label>
                              <input type="text" #second_option matInput name="second_option"
                                (change)="handleChangeInput()" [value]="option.length ? option: ''">
                            </mat-form-field>
                            <app-icon-plus (click)="addSecondOption(i)"></app-icon-plus>
                            <app-icon-trash (click)="deleteSecondOption(i)"></app-icon-trash>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #noChooseSecondOption>
                    <div class="flex gap-x-5">
                      <p>Nhóm phân loại 2</p>
                      <app-button theme="blue" class="w-[198px]" (click)="isChooseSecondOption = true">
                        <div class="flex items-center gap-x-2">
                          <app-icon-plus></app-icon-plus>
                          <span>Thêm nhóm phân loại 2</span>
                        </div>
                      </app-button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </app-form-product-row>
            <app-form-product-row title="Danh sách phân loại hàng">
              <div class="relative overflow-x-auto w-full">
                <table class="w-full text-sm text-left text-gray-500">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                        {{productForm.value.first_type !== "" ? productForm.value.first_type : 'Nhóm phân loại 1'}}
                      </th>
                      <ng-container *ngIf="isChooseSecondOption">
                        <th scope="col" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                          {{productForm.value.second_type !== "" ? productForm.value.second_type : 'Nhóm phân loại 2'}}
                        </th>
                      </ng-container>
                      <th scope="col" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                        Giá
                      </th>
                      <th scope="col" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                        Kho hàng
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let option of totalOptions">
                      <tr class="bg-white border-b">
                        <td scope="row" class="px-6 py-4">
                          {{option.firstOption}}
                        </td>
                        <ng-container *ngIf="productForm.value.second_type && isChooseSecondOption">
                          <td class="px-6 py-4">
                            {{option.secondOption}}
                          </td>
                        </ng-container>
                        <td class="px-6 py-4">
                          <mat-form-field class="w-full">
                            <mat-label>Nhập vào</mat-label>
                            <input type="number" matInput #option_price name="option_price"
                              (focus)="handleFocus('price_original')" class="option_price ">
                          </mat-form-field>
                        </td>
                        <td class="px-6 py-4">
                          <mat-form-field class="w-full">
                            <mat-label>Nhập vào</mat-label>
                            <input type="number" matInput #option_stock name="option_stock"
                              (focus)="handleFocus('quantity')" class="option_stock">
                          </mat-form-field>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>

            </app-form-product-row>
          </ng-template>
        </div>
      </div>

      <div id="section4" class="p-4 bg-white rounded">
        <p class="mb-5 text-xl font-bold">Vận chuyển</p>
        <div class="flex flex-col gap-5">
          <app-form-product-row title="Cân nặng">
            <mat-form-field class="w-full">
              <mat-label>Nhập vào (đơn vị gr)</mat-label>
              <input type="number" matInput formControlName="weight" (focus)="handleFocus('weight')">
            </mat-form-field>
          </app-form-product-row>

          <app-form-product-row title="Kích thước đóng gói">
            <div class="flex items-center gap-x-5">
              <mat-form-field class="w-full">
                <mat-label>Dài (đơn vị cm)</mat-label>
                <input type="number" matInput formControlName="length" (focus)="handleFocus('length')">
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Rộng (đơn vị cm)</mat-label>
                <input type="number" matInput formControlName="width" (focus)="handleFocus('length')">
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Cao (đơn vị cm)</mat-label>
                <input type="number" matInput formControlName="height" (focus)="handleFocus('length')">
              </mat-form-field>
            </div>
          </app-form-product-row>

          <app-form-product-row title="Phí vận chuyển">
            <div class="flex items-center gap-x-5">
              <mat-radio-button value="1" [checked]="true">Tiêu chuẩn (nhanh)</mat-radio-button>
              <p class="px-5 py-2 text-xs uppercase border rounded border-primary bg-blue-50 text-primary">S-market vận
                chuyển</p>
            </div>
          </app-form-product-row>
        </div>
      </div>

      <div class="flex items-center justify-end gap-x-5">
        <a [routerLink]="'/seller/portal/product/list'"
          class="px-10 py-2 transition-all bg-white border rounded hover:bg-whiteGray">Hủy</a>
        <app-button [loading]="loading" types="submit" className="!w-[135.48px]">Lưu và hiển thị</app-button>
      </div>
    </form>
  </div>
</div>