<div class="bg-white rounded text-darkGray">
  <div class="flex items-center justify-between p-3 pb-5 border-b">
    <span class="text-base">Saved</span>
    <span class="font-medium text-black">5.000₫</span>
  </div>

  <div class="flex items-center justify-between p-3 text-darkGray">
    <span class="text-base">Total price</span>
    <span class="text-xl font-medium text-hotRed">{{totalPrice.toLocaleString('en-US')}}₫</span>
  </div>
  <div class="flex items-center pb-3 pl-3">
    <img src="https://salt.tikicdn.com/ts/upload/70/f9/77/3b172be9ee58c8104fe8a4d40c4f5633.png" class="w-[90px] mr-2"
      alt="">
    <span class="text-sm font-medium text-black">have been applied!</span>
  </div>
</div>