<div class="p-3 bg-white rounded">
  <div class="flex items-center mb-3 gap-x-3">
    <img *ngIf="dataUser" [src]="dataUser.User_Detail.photo_url || '../../../../../assets/img/default-user.png'" alt=""
      class="w-[45px] h-[45px] rounded-full object-cover">
    <div class="">
      <span class="font-light">Account of</span>
      <p *ngIf="dataUser" class="font-medium">{{dataUser.User_Detail.full_name || dataUser.User_Detail.email}}</p>
    </div>
  </div>
  <a *ngFor="let account of accountNav" (click)="onChangeRoute()"
    class="flex items-center px-4 py-3 transition-all rounded gap-x-5 hover:bg-slate-100" [routerLink]="account.url"
    [class.is-active]="currentRoute === account.url">
    <ng-container [ngSwitch]="account.icon">
      <app-icon-account *ngSwitchCase="'account'"></app-icon-account>
      <app-icon-lock *ngSwitchCase="'lock'"></app-icon-lock>
      <app-icon-location *ngSwitchCase="'location'"></app-icon-location>
      <app-icon-order *ngSwitchCase="'order'"></app-icon-order>
    </ng-container>
    <span>{{account.name}}</span>
  </a>
</div>