<div class="flex flex-col gap-5">
  <div class="p-3 bg-white rounded-lg sidebar">
    <p class="mb-2">Danh mục</p>
    <ul>
      <ng-container *ngFor="let category of listCategory$ | async">
        <li class="px-2 py-4 transition-all cursor-pointer rounded-md hover:bg-slate-100 flex items-center gap-x-4"
          [routerLink]="'/category/'+category.id">
          <img [src]="category.photo_url" alt="" class="w-8 h-8 object-cover">
          <p>{{category.name_category}}</p>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="text-center bg-white border border-gray-300 rounded-lg sidebar-2">
    <p [routerLink]="'/seller'" class="p-3 font-medium rounded-lg cursor-pointer hover:bg-slate-100">Seller center</p>
  </div>
</div>