<div class="grid w-full h-[280px] grid-cols-12 gap-x-3">
  <div class="col-span-9 bg-blue-200 rounded-lg">
    <img src="https://salt.tikicdn.com/cache/w1080/ts/tikimsp/22/80/b0/6cde6b33c09d683eee71dc2c499f0ea1.png.webp" alt=""
      class="w-full h-full object-cover rounded-lg">
  </div>
  <div class="col-span-3 bg-red-200 rounded-lg">
    <img src="https://salt.tikicdn.com/cache/w750/ts/tikimsp/e9/82/3f/42adf5ca1758d292a6034bae211f0bc6.png.webp" alt=""
      class="w-full h-full object-cover rounded-lg">
  </div>
</div>