<div class="flex -mt-5 app-container">
  <app-seller-sidebar></app-seller-sidebar>
  <div class="flex-1 m-5">
    <div class="bg-white rounded">
      <div class="p-4">
        <div class="mb-5 head-task">
          <h2 class="text-xl font-medium">Danh sách cần làm</h2>
          <p class="text-[13px] text-darkGray">Những việc bạn sẽ phải làm</p>
        </div>
        <div class="grid grid-cols-3 gap-y-5">
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>