<div class="flex -mt-5 app-container">
  <div class="bg-white w-[220px] p-4 flex flex-col gap-7">
    <ng-container *ngFor="let sidebar of sidebars">
      <div class="flex flex-col gap-1">
        <ul>
          <li class="flex items-center gap-x-3 text-[#999]">
            <img src="https://cf.shopee.vn/file/c15905d5a6284687c4a6ad00d0feb511" alt="" class="w-4 h-4">
            <span class="font-medium">{{sidebar.title}}</span>
          </li>
        </ul>
        <ul class="flex flex-col gap-2 pl-7">
          <li *ngFor="let sub of sidebar.submenus"
            class="text-sm transition-all cursor-pointer text-light hover:text-primary">
            {{sub.name}}</li>
        </ul>
      </div>
    </ng-container>
  </div>
  <div class="flex-1 m-5">
    <div class="bg-white rounded">
      <div class="p-4">
        <div class="mb-5 head-task">
          <h2 class="text-xl font-medium">Danh sách cần làm</h2>
          <p class="text-[13px] text-darkGray">Những việc bạn sẽ phải làm</p>
        </div>
        <div class="grid grid-cols-3 gap-y-5">
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
          <div
            class="h-[100px] hover:bg-whiteGray transition-all text-center flex flex-col items-center justify-center border-r mission">
            <span class="text-lg font-medium text-primary">0</span>
            <p>Chờ xác nhận</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>