<div class="p-3 bg-white rounded">
  <div class="pb-3 mb-3 border-b ">
    <p class="text-lg font-medium">Đổi mật khẩu</p>
    <p class="text-darkGray">Để bảo vệ tài khoản của bạn, đừng chia sẻ mật khẩu của mình với người khác</p>
  </div>
  <form class="grid grid-cols-3 gap-x-5" [formGroup]="passwordForm" (ngSubmit)="submitForm()">

    <div class="flex flex-col col-span-2 gap-5 px-10 py-5 border-r">
      <div class="flex items-center gap-x-5">
        <span class="flex-1 whitespace-nowrap">Mật khẩu hiện tại</span>
        <input type="password" class="w-[75%] px-2 py-2 border" formControlName="current_password">
      </div>
      <div class="flex items-center gap-x-5">
        <p class="flex-1 whitespace-nowrap ">Mật khẩu mới</p>
        <input type="password" class="w-[75%] px-2 py-2 border" formControlName="new_password">
      </div>
      <div class="flex items-center gap-x-5">
        <span class="flex-1 whitespace-nowrap">Xác nhận mật khẩu</span>
        <input type="password" class="w-[75%] px-2 py-2 border" formControlName="confirm_password">
      </div>
    </div>

    <a href="" class="text-darkGray">Quên mật khẩu?</a>

    <app-button class="col-span-2 mx-[200px]" types="submit">Lưu thay đổi</app-button>
  </form>
</div>