<div class="p-3 bg-white rounded">
  <div class="pb-3 mb-3 border-b ">
    <p class="text-lg font-medium">Change Password</p>
    <p class="text-darkGray">For your account's security, do not share your password with anyone else</p>
  </div>
  <form class="grid grid-cols-3 gap-x-5">

    <div class="flex flex-col col-span-2 gap-5 px-10 py-5 border-r">
      <div class="flex items-center gap-x-5">
        <span class="flex-1 whitespace-nowrap">Current Password</span>
        <input type="text" class="w-[75%] px-2 py-2 border">
      </div>
      <div class="flex items-center gap-x-5">
        <p class="flex-1 whitespace-nowrap ">New Password</p>
        <input type="text" class="w-[75%] px-2 py-2 border">
      </div>
      <div class="flex items-center gap-x-5">
        <span class="flex-1 whitespace-nowrap">Confirm Password</span>
        <input type="text" class="w-[75%] px-2 py-2 border">
      </div>
    </div>

    <a href="" class="text-darkGray">Forget your password?</a>

    <app-button class="col-span-2 mx-[200px]" text="Save change"></app-button>
  </form>
</div>