.icon-facebook {
  background-image: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png");
  background-size: 325% 287.5%;
  background-position: 5.555555555555555% 62.666666666666664%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
