<div class="flex flex-col gap-5 -mt-5">
  <div class="container grid grid-cols-[450px,auto] mt-5 bg-white rounded gap-x-10">
    <div class="max-w-[450px]">
      <div class="p-3">
        <div class="w-[450px]">
          <img *ngIf="dataProduct" [src]="dataProduct.Image_Products[0].Image_Product_Detail.photo_url"
            class="object-cover rounded mb-3 w-full h-[450px]"><img>
          <div class="flex items-center justify-between w-full">
            <ng-container *ngFor="let image of dataProduct?.Image_Products; let i = index">
              <ng-container *ngIf="i > 0">
                <img [src]="image.Image_Product_Detail.photo_url" alt="" class="h-[82px] object-contain rounded">
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full">
      <div class="flex flex-col w-full h-full gap-5 p-3">
        <p *ngIf="dataProduct" class="text-xl">{{dataProduct.Product_Detail.name}}</p>

        <div class="flex items-center gap-x-2">
          <div class="pr-3 mr-3 border-r">
            <span class="mr-1">4.9</span>
            <app-star-list></app-star-list>
          </div>
          <div class="pr-3 mr-3 border-r">
            <span class="mr-1">1.1</span>
            <span>Ratings</span>
          </div>
          <div class="">
            <span class="mr-1">4,2K</span>
            <span>Sold</span>
          </div>
        </div>

        <div class="px-4 py-5 rounded bg-gray-50">
          <div class="flex items-center gap-x-3 ">
            <ng-container *ngIf="dataProduct?.Product_Price_Options">
              <ng-container *ngIf="dataProduct.Product_Price_Options.length > 0; else noOption">
                <ng-container
                  *ngIf="dataProduct.Product_Price_Options.length > 0 && optionResult; else notChooseOption">
                  <ng-container *ngIf="dataProduct?.Product_Detail">
                    <ng-container *ngIf="optionResult.price && optionResult.price_discount;else noDiscount">
                      <span *ngIf="optionResult?.discountPercentID"
                        class="line-through text-lightGray">{{optionResult.price.toLocaleString('en-US')}}₫</span>
                      <span
                        class="text-2xl font-medium text-hotRed">{{optionResult.price_discount.toLocaleString('en-US')}}₫</span>
                      <span *ngIf="optionResult?.Discount_Percent?.percent"
                        class="p-1 text-[10px] text-white bg-hotRed rounded-sm">{{optionResult.Discount_Percent.percent}}%
                        OFF</span>
                    </ng-container>

                    <ng-template #noDiscount>
                      <span
                        class="text-2xl font-medium text-hotRed">{{optionResult.price.toLocaleString('en-US')}}₫</span>
                    </ng-template>
                  </ng-container>
                </ng-container>
                <ng-template #notChooseOption>
                  <span class="text-2xl font-medium text-hotRed">~{{(getPriceLow).toLocaleString('en-US')}}₫</span>
                </ng-template>
              </ng-container>
              <ng-template #noOption>
                <ng-container *ngIf="dataProduct?.Product_Detail">
                  <ng-container
                    *ngIf="dataProduct.Product_Detail.price_discount && dataProduct?.Discount_Percent?.percent;else noDiscount">
                    <span *ngIf="dataProduct?.Discount_Percent"
                      class="line-through text-lightGray">{{dataProduct.Product_Detail.price_original.toLocaleString('en-US')}}₫</span>
                    <span
                      class="text-2xl font-medium text-hotRed">{{dataProduct.Product_Detail.price_discount.toLocaleString('en-US')}}₫</span>
                    <span *ngIf="dataProduct?.Discount_Percent?.percent"
                      class="p-1 text-[10px] text-white bg-hotRed rounded-sm">{{dataProduct.Discount_Percent.percent}}%
                      OFF</span>
                  </ng-container>

                  <ng-template #noDiscount>
                    <span
                      class="text-2xl font-medium text-hotRed">{{dataProduct.Product_Detail.price_original.toLocaleString('en-US')}}₫</span>
                  </ng-template>
                </ng-container>
              </ng-template>
            </ng-container>
            <!-- <span
              class="text-2xl font-medium text-hotRed">{{dataProduct.Product_Detail.price_original.toLocaleString('en-US')}}₫</span> -->
          </div>
        </div>

        <div class="flex flex-col gap-12">
          <div class="flex items-center gap-x-2">
            <div class="w-[110px]">
              <span class="text-darkGray">Shipping</span>
            </div>
            <div class="flex items-center flex-1 gap-x-3">
              <app-icon-truck color="black" stroke="black"></app-icon-truck>
              <span class="text-darkGray">Shipping Voucher:</span>
              <span class="px-2 py-1 text-sm font-medium rounded text-hotRed bg-red-50">₫15k OFF</span>
              <span class="px-2 py-1 text-sm font-medium rounded text-hotRed bg-red-50">₫30k OFF</span>
            </div>
          </div>

          <ng-container *ngFor="let dataFilter of dataProduct?.Product_Types; let i = index">
            <app-product-category-option [nameType]="dataFilter" [nameOptionList]="dataFilter?.Product_Filters"
              (handleChooseOption)="handleChooseOptions($event)"></app-product-category-option>
          </ng-container>

          <ng-container *ngIf="optionResult?.quantity_stock">
            <p class="text-darkGray">Hiện còn lại <span
                class="text-black font-medium">{{optionResult.quantity_stock}}</span> sản phẩm</p>
          </ng-container>

          <ng-container *ngIf="dataProduct?.Stock">
            <p class="text-darkGray">Hiện còn lại <span
                class="text-black font-medium">{{dataProduct.Stock.quantity}}</span> sản phẩm</p>
          </ng-container>
          <!-- <app-product-category-option [nameType]="'Size'"
          [nameOptionList]="['S','M','L']"></app-product-category-option> -->

          <div class="flex items-center gap-x-2">
            <div class="w-[110px]">
              <span class="text-darkGray">Quantity</span>
            </div>
            <div class="flex flex-wrap items-center flex-1 gap-3">
              <app-input-counter [valueCounter]="valueCounter" (checkedMinus)="onCountMinus($event)"
                (checkedPlus)="onCountPlus($event)" (handleInputChange)="handleInputChange($event)"></app-input-counter>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-5">
              <app-button theme="blue" className="flex items-center gap-x-2" (click)="openModalChooseCart()"
                [disable]="notChooseOption">
                <app-icon-plus-cart color="#0A68FF" stroke="#0A68FF"></app-icon-plus-cart>
                <p>Thêm vào giỏ hàng</p>
              </app-button>
              <app-button (click)="handleBuyNow()">
                Mua ngay
              </app-button>
            </div>
            <div class="flex items-center p-3 border rounded gap-x-5">
              <span class="font-medium">Các cửa hàng trên web khác</span>
              <app-button theme="blue" className=" flex items-center gap-x-2"
                (click)="openModalComparePrice(dataProduct.Product_Detail.name)">
                <span>So sánh giá</span>
              </app-button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container bg-white rounded">

    <div *ngIf="dataProduct?.Shop" class="flex items-center p-3">
      <div class="flex items-start gap-x-5 max-w-[27.5rem] min-w-[250px] pr-5 mr-5 border-r">
        <img [src]="dataProduct.Shop.Shop_Detail.photo_url" alt=""
          class="w-[75px] h-[75px] rounded-full border-2 object-cover border-gray-200">
        <div class="flex flex-col gap-1 overflow-hidden">
          <span class="line-clamp-1">{{dataProduct.Shop.slug}}</span>
          <div class="w-[200px]">
            <app-button theme="blue" className="flex items-center gap-x-2 !text-black !w-auto">
              <app-icon-store stroke="#0A68FF" color="#0A68FF" fill="#0A68FF"></app-icon-store>
              <span [routerLink]="'/shop/'+dataProduct.Shop.id" class="text-sm text-primary">View shop</span>
            </app-button>
          </div>

        </div>
      </div>

      <div class="grid w-full grid-cols-3 gap-x-16">
        <div class="flex flex-col gap-5">
          <div class="flex items-center justify-between">
            <span>Score Ratings</span>
            <span class="text-hotRed">2.5k</span>
          </div>
          <div class="flex items-center justify-between">
            <span>Review</span>
            <span class="text-hotRed">2.5k</span>
          </div>
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex items-center justify-between">
            <span>Products</span>
            <span class="text-hotRed">499</span>
          </div>
          <div class="flex items-center justify-between">
            <span>Joined</span>
            <span class="text-hotRed">{{dataProduct.Shop.createdAt}}</span>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container bg-white rounded">
    <div class="flex flex-col gap-5 p-3">
      <div class="p-3 bg-gray-100 rounded">
        <p class="text-lg font-medium tracking-wide uppercase">Product Specifications</p>
      </div>

      <div class="flex flex-col gap-5">
        <div class="flex items-center gap-x-3">
          <span class="w-36">
            Category
          </span>
          <span>Men Clothes</span>
        </div>
        <div class="flex items-center gap-x-3">
          <span class="w-36">
            Brand
          </span>
          <span>COOLMATE</span>
        </div>
        <div class="flex items-center gap-x-3">
          <span class="w-36">
            Style
          </span>
          <span>Basic, Athletic, Nam tính</span>
        </div>
        <div class="flex items-center gap-x-3">
          <span class="w-36">
            Country of Origin
          </span>
          <span>Vietnam</span>
        </div>
        <div class="flex items-center gap-x-3">
          <span class="w-36">
            Material
          </span>
          <span>Mềm mại và khử mùi hiệu quả, 50% S.Café + 50% Recycled PET</span>
        </div>
      </div>

      <div class="p-3 bg-gray-100 rounded">
        <p class="text-lg font-medium tracking-wide uppercase">Product Description</p>
      </div>

      <ng-container *ngIf="dataProduct?.Product_Detail?.desc">
        <p class="leading-7">{{dataProduct.Product_Detail.desc}}</p>
      </ng-container>
    </div>
  </div>

  <div class="container bg-white rounded">
    <div class="flex flex-col gap-5 p-3">
      <p class="text-xl">Product Ratings</p>
      <div class="flex items-center gap-7 p-5 border border-yellow-100 bg-[#fffbf8]">
        <div class="flex flex-col items-center min-w-[130px]">
          <p class="text-[30px] text-hotRed font-medium">4.9 <span class="text-xl font-normal">out of 5</span></p>
          <app-star-list sizeStar="20"></app-star-list>
        </div>
        <app-product-category-option [hasType]="false"
          [nameOptionList]="['All','5 Star','4 Star']"></app-product-category-option>
      </div>

      <div class="flex items-start border-b mb-7 pb-7 gap-x-5">
        <app-icon-avatar-default></app-icon-avatar-default>
        <div class="flex flex-col gap-1">
          <p>Dang Linh</p>
          <app-star-list></app-star-list>
          <p class="text-xs text-lightGray">2023-01-11 18:50 | Variation: Xám Nhạt,XL</p>
          <p>Bố mình mặc rất vừa . Shop tv size chuẩn . Vải còn đẹp nữa . LikeeeeeeBố mình mặc rất vừa </p>
          <div class="flex flex-wrap gap-3">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
          </div>
        </div>
      </div>

      <div class="flex items-start border-b mb-7 pb-7 gap-x-5">
        <app-icon-avatar-default></app-icon-avatar-default>
        <div class="flex flex-col gap-1">
          <p>Dang Linh</p>
          <app-star-list></app-star-list>
          <p>2023-01-11 18:50 | Variation: Xám Nhạt,XL</p>
          <p>Bố mình mặc rất vừa . Shop tv size chuẩn . Vải còn đẹp nữa . LikeeeeeeBố mình mặc rất vừa </p>
          <div class="flex flex-wrap gap-3">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
            <img src="https://cf.shopee.vn/file/21a64463b0502f51971e4dfe0a98a291" alt="" class="w-[72px] h-[72px]">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="my-5 text-xl text-darkGray uppercase">Các sản phẩm khác của shop</p>
    <app-swiper-list [listProduct$]="listProductSameShop$"></app-swiper-list>
  </div>

  <div class="container">
    <p class="my-5 text-xl text-darkGray uppercase">Có thể bạn sẽ thích</p>
    <div class="grid grid-cols-6 gap-5">
      <ng-container *ngFor="let product of listProductSameCategoryFilter$ | async">
        <app-product-item (click)="scrollTop()" [productItem]="product"></app-product-item>
      </ng-container>
    </div>
  </div>

</div>