// @import "../../../../../../node_modules/swiper/swiper-bundle.min.css";
.container {
  max-width: 1280px;
  padding: unset;
}

.product-image {
  background-image: url("https://down-vn.img.susercontent.com/file/21a64463b0502f51971e4dfe0a98a291");
  background-size: contain;
  background-repeat: no-repeat;
}
