// @import "../../../../../../node_modules/swiper/swiper-bundle.min.css";
.container {
  max-width: 1280px;
  padding: unset;
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
}
