<div class="flex flex-col gap-3">
  <div class="sticky top-0 flex z-[3] items-center justify-between bg-white rounded">
    <a *ngFor="let purchase of purchases" href="" class="w-full border-b-[2px] border-gray-300 py-3">
      <div class="w-full text-center ">
        <span>{{purchase.name}}</span>
      </div>
    </a>
  </div>

  <app-input-search placeholder="You can search by Shop name, Order ID or Product name"></app-input-search>

  <ng-container *ngFor="let order of dataOrders">
    <div class="p-3 bg-white rounded">
      <div class="flex items-center justify-between pb-3 mb-3 border-b ">
        <div class="flex items-center gap-x-2">
          <app-icon-store></app-icon-store>
          <span>{{order.Shop.Shop_Detail.name}}</span>
        </div>
        <div class="flex items-center gap-x-2">
          <ng-container *ngIf="order.statusID === 2">
            <div class="flex items-center pr-2 border-r gap-x-2">
              <app-icon-truck color="#00AB56" stroke="#00AB56"></app-icon-truck>
              <span class="whitespace-nowrap text-lightGreen">Đơn hàng đã được giao hàng thành công</span>
            </div>
          </ng-container>
          <span class="text-hotRed uppercase">
            {{ order.statusID === 1 ? "Đang vận chuyển" : order.statusID === 2 ? "Hoàn tất" : "Hủy" }}
          </span>
        </div>
      </div>

      <ng-container *ngFor="let orderDetail of order.Order_Details">
        <div class="flex items-center justify-between pb-3 mb-3 border-b">
          <div class="flex items-start gap-x-5">
            <img [src]="orderDetail.Product.Image_Products[0]?.Image_Product_Detail?.photo_url" alt=""
              class="object-contain w-20 h-20">
            <div class="flex flex-col gap-[2px]">
              <p class="line-clamp-2">{{orderDetail.Product.Product_Detail.name}}
              </p>
              <ng-container *ngIf="orderDetail?.Product_Price_Option">
                <span class="text-lightGray">Option: {{orderDetail.Product_Price_Option?.firstFilter?.name_filter}}
                  {{orderDetail.Product_Price_Option?.secondFilter ?
                  ", " + orderDetail.Product_Price_Option?.secondFilter?.name_filter:""}}</span>
              </ng-container>
              <span>x{{orderDetail.quantity}}</span>
            </div>
          </div>
          <div class="flex items-center gap-x-2">
            <ng-container *ngIf="orderDetail?.Product_Price_Option; else noOption">
              <ng-container *ngIf="orderDetail.Product_Price_Option.price_discount; else noDiscount">
                <span
                  class="line-through text-lightGray">{{orderDetail.Product_Price_Option.price.toLocaleString('en-US')}}
                  ₫</span>
                <span class="text-hotRed">{{orderDetail.Product_Price_Option.price_discount.toLocaleString('en-US')}}
                  ₫</span>
              </ng-container>
              <ng-template #noDiscount>
                <span class="text-hotRed">{{orderDetail.Product_Price_Option.price.toLocaleString('en-US')}}
                  ₫</span>
              </ng-template>
            </ng-container>
            <ng-template #noOption>
              <ng-container *ngIf="orderDetail.Product.Product_Detail.price_discount;else noDiscount">
                <span class="line-through text-lightGray">₫479.000</span>
                <span class="text-hotRed">₫352.000</span>
              </ng-container>
              <ng-template #noDiscount>
                <span class="text-hotRed">₫352.000</span>
              </ng-template>
            </ng-template>

          </div>
        </div>
      </ng-container>

      <div class="flex flex-col items-end">
        <div class="flex items-center gap-x-2">
          <app-icon-guard></app-icon-guard>
          <p class="text-lg">Order total: <span
              class="ml-2 text-2xl text-hotRed">{{order.total_price.toLocaleString('en-US')}} ₫</span></p>
        </div>
      </div>
    </div>
  </ng-container>

</div>