<div>
  <p class="mb-5 text-2xl font-medium">Đơn hàng của shop</p>
  <div class="p-3 bg-white rounded">
    <div class="flex items-center justify-between mb-5">
      <div>
        <p class="text-2xl">Danh sách đơn hàng</p>
        <p class="my-2 text-darkGray">Quản lý đơn hàng
        </p>
      </div>
    </div>

    <ul class="flex items-center border-b-2 tab-navs">
      <li *ngFor="let nav of navTabs" (click)="handleChooseOption(nav.name)" [class]="nav.isActive ? 'text-primary': ''"
        class="p-4 transition-all cursor-pointer hover:text-primary">{{nav.name}}</li>
    </ul>
    <div class="relative p-3 overflow-x-auto">
      <table class="w-full text-sm text-left">
        <thead class="bg-gray-100">
          <tr class="">
            <td class="w-[50px]"></td>
            <th scope="col" class="px-6 py-4 ">
              Mã đơn hàng
            </th>
            <th scope="col" class="px-6 py-4">
              <div class="grid grid-cols-5">
                <p>Phương thức thanh toán</p>
                <p>Tổng giá tiền</p>
                <p>Ghi chú</p>
                <p>Trạng thái</p>
                <p>Ngày tạo đơn</p>
              </div>
            </th>
            <th scope="col" class="px-6 py-4 w-[180px]">
              Thao tác
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of listOrderActive$ | async " class="bg-white border-b-2">
            <td class="w-[50px]"></td>
            <th scope="col" class="px-6 py-5">
              <p class="font-medium">{{order.id}}</p>
            </th>
            <th scope="col" class="px-6 py-5 ">
              <div class="grid grid-cols-5">
                <p class="mr-5">{{order.payment_method}}</p>
                <p>{{order.total_price.toLocaleString('en-US')}}₫</p>
                <p>{{order.note === "" ? "Trống": order.note}}</p>
                <div>
                  <ng-container *ngIf="order.statusID">
                    <ng-container *ngIf="order.statusID === 1">
                      <span class="px-4 py-2 bg-blue-300 rounded whitespace-nowrap">Đang giao hàng</span>
                    </ng-container>
                    <ng-container *ngIf="order.statusID === 4">
                      <span class="px-4 py-2 bg-yellow-300 rounded whitespace-nowrap">Chờ duyệt</span>
                    </ng-container>
                    <ng-container *ngIf="order.statusID === 3">
                      <span class="px-4 py-2 bg-red-300 rounded whitespace-nowrap">Đơn hủy</span>
                    </ng-container>
                    <ng-container *ngIf="order.statusID === 2">
                      <span class="px-4 py-2 bg-green-300 rounded whitespace-nowrap">Hoàn tất</span>
                    </ng-container>
                  </ng-container>
                </div>
                <p>{{formatDate(order.createdAt)}}</p>
              </div>
            </th>
            <th scope="col" class="px-6 py-5 w-[180px]">
              <div class="flex items-center text-xs gap-x-3">
                <a (click)="openModalOrderDetail(order.id)"
                  class="px-4 py-2 bg-cyan-100 rounded whitespace-nowrap cursor-pointer">Xem chi tiết</a>
                <ng-container *ngIf="order.statusID === 4">
                  <a class="px-4 py-2 bg-yellow-100 rounded whitespace-nowrap cursor-pointer"
                    (click)="handleChooseConfirm(order.id)">Duyệt đơn</a>
                  <a class="px-4 py-2 bg-red-100 rounded whitespace-nowrap cursor-pointer"
                    (click)="handleChooseCancel(order.id)">Hủy đơn</a>
                </ng-container>
                <ng-container *ngIf="order.statusID === 1">
                  <a (click)="updateStatusDone(order)"
                    class="px-4 py-2 bg-green-100 rounded whitespace-nowrap cursor-pointer">Hoàn tất</a>
                </ng-container>
              </div>
            </th>
          </tr>
        </tbody>
      </table>

      <div class="mt-5">
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
          [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>