<div class="flex flex-col gap-8">
  <ng-container *ngFor="let carts of dataCarts; let idx = index">
    <div class="relative px-3 py-6 border rounded-lg">
      <div class="absolute flex items-center p-2 translate-y-1/2 bg-white left-2 bottom-full gap-x-1">
        <img class="w-6 h-6" src="https://salt.tikicdn.com/ts/upload/ad/b7/93/7094a85d0b6d299f30ed89b03511deb9.png"
          alt="">
        <p class="text-lightGreen">Package 1: Delivery on Saturday, 22/04</p>
      </div>
      <div class="flex items-center justify-between">
        <div class="max-w-xl">
          <div class="flex items-center mb-3 gap-x-1">
            <app-icon-store></app-icon-store>
            <span class="font-medium">{{carts[0].Shop.Shop_Detail.name}}</span>
          </div>
          <div class="flex flex-col gap-5">
            <ng-container *ngFor="let cart of carts">
              <ng-container *ngIf="cart.checked">
                <div class="flex items-center">
                  <img [src]="cart.Product.Image_Products[0].Image_Product_Detail.photo_url" alt=""
                    class="object-contain w-12 h-12">
                  <ng-container *ngIf="cart?.Product_Price_Option;else noOption">
                    <div class="flex flex-col flex-1 gap-1 ml-3">
                      <p class="line-clamp-1 text-darkGray">
                        {{cart.Product.Product_Detail.name}}{{cart?.Product_Price_Option?' - '+
                        cart?.Product_Price_Option?.firstFilter?.name_filter:''}}{{cart?.Product_Price_Option?.secondFilter&&'
                        - '+cart?.Product_Price_Option?.secondFilter?.name_filter}}
                      <div class="flex items-center justify-between gap-x-5">
                        <span class="text-darkGray">Quantity: x{{cart.quantity}}</span>
                        <span class="font-medium">{{((cart.Product_Price_Option.price_discount ?
                          cart.Product_Price_Option.price_discount: cart.Product_Price_Option.price) *
                          cart.quantity).toLocaleString('en-US')}} ₫</span>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #noOption>
                    <div class="flex flex-col flex-1 gap-1 ml-3">
                      <p class="line-clamp-1 text-darkGray">{{cart.Product.Product_Detail.name}}
                      <div class="flex items-center justify-between gap-x-5">
                        <span class="text-darkGray">Quantity: x{{cart.quantity}}</span>
                        <span class="font-medium">{{cart.Product.Product_Detail.price_discount ??
                          cart.Product.Product_Detail.price_original.toLocaleString('en-US')}} ₫</span>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="px-4 py-2 rounded-lg text-md bg-whiteGray text-darkGray">
          Order Total (2 Item): <span
            class="text-lg font-medium text-hotRed">{{updateTotalPrice(idx).toLocaleString('en-US')}} ₫</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>