<div class="flex items-center gap-x-5">
  <label for="file"
    class="flex flex-col text-center w-[76.8px] h-[103.46px] items-center justify-center p-2 border-2 border-dashed transition-all hover:bg-blue-50 hover:border-primary cursor-pointer"
    [class.disabled]="countImage === 5">
    <input type="file" name="file" id="file" class="inputFile" accept="image/png, image/gif, image/jpeg"
      (focus)="handleFocus.emit('image')" (change)=" handleChange.emit($event)" #fileInputRef
      [disabled]="countImage === 5" />
    <div [class.disabled]="countImage === 5">
      <div class="flex flex-col items-center justify-center gap-y-1" [class.disabled]="countImage === 5">
        <svg class="w-[23px] h-[23px]" stroke-width=".2" stroke="#0A68FF" viewBox="0 0 23 21"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.5 0A1.5 1.5 0 0 1 20 1.5V12c-.49-.07-1.01-.07-1.5 0V1.5H2v12.65l3.395-3.408a.75.75 0 0 1 .958-.087l.104.087L7.89 12.18l3.687-5.21a.75.75 0 0 1 .96-.086l.103.087 3.391 3.405c.81.813.433 2.28-.398 3.07A5.235 5.235 0 0 0 14.053 18H2a1.5 1.5 0 0 1-1.5-1.5v-15A1.5 1.5 0 0 1 2 0h16.5z"
            fill="#0A68FF">
          </path>
          <path
            d="M6.5 4.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zM18.5 14.25a.75.75 0 0 1 1.5 0v2.25h2.25a.75.75 0 0 1 0 1.5H20v2.25a.75.75 0 0 1-1.5 0V18h-2.25a.75.75 0 0 1 0-1.5h2.25v-2.25z"
            fill="#0A68FF">
          </path>
        </svg>
        <p class="text-xs font-normal text-primary">Thêm hình ảnh ({{countImage}}/5)</p>
      </div>
    </div>
  </label>
  <ng-container *ngIf="listBase64">
    <div *ngFor="let base64Image of listBase64" class="relative outer-image">
      <img [src]="'data:image/jpeg;base64'+base64Image.base64" class="w-[76.8px] h-[103.46px] object-cover border-2"
        alt="">
      <div
        class="absolute w-[25px] h-[25px] -translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full left-1/2 top-1/2 items-center justify-center hidden close"
        (click)="handleDeleteImage.emit(base64Image)">
        <span class="text-xs text-white">X</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="listImages">
    <div *ngFor="let image of listImages" class="relative outer-image">
      <img [src]="image.Image_Product_Detail.photo_url" class="w-[76.8px] h-[103.46px] object-cover border-2" alt="">
      <div
        class="absolute w-[25px] h-[25px] -translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full left-1/2 top-1/2 items-center justify-center hidden close"
        (click)="handleDeleteImage.emit(image.Image_Product_Detail.photo_url)">
        <span class="text-xs text-white">X</span>
      </div>
    </div>
  </ng-container>
</div>