.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputFile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.inputFile + label {
  cursor: pointer; /* "hand" cursor */
}
.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.outer-image:hover {
  img {
    opacity: 0.7;
  }
  .close {
    display: flex;
    cursor: pointer;
  }
}
