<div class="">
  <p class="mb-5 text-2xl font-medium">Mã giảm giá của shop</p>
  <div class="p-3 bg-white rounded">
    <div class="flex items-center justify-between mb-5">
      <div>
        <p class="text-2xl">Danh sách mã giảm giá</p>
        <p class="my-2 text-darkGray">Tạo Mã giảm giá toàn shop hoặc Mã giảm giá sản phẩm ngay bây giờ để thu hút người
          mua.
        </p>
      </div>
      <app-button>
        <div class="flex items-center gap-x-3">
          <app-icon-plus></app-icon-plus>
          <span>Thêm giảm giá mới</span>
        </div>
      </app-button>
    </div>

    <div class="relative p-3 overflow-x-auto">
      <form [formGroup]="groupRoleForm" (ngSubmit)="submitForm()" class="flex flex-col gap-5">
        <app-form-product-row title="Tên nhóm quyền">
          <mat-form-field class="w-full">
            <mat-label>Nhập vào</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>
        </app-form-product-row>
        <app-form-product-row title="Mô tả nhóm quyền">
          <mat-form-field class="w-full">
            <mat-label>Nhập vào</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." formControlName="desc"></textarea>
          </mat-form-field>
        </app-form-product-row>
        <app-form-product-row title="Nhóm quyền">
          <div class="grid grid-cols-4 gap-5">
            <ng-container *ngFor="let role of listRole; let i = index">
              <mat-checkbox (change)="onChange(role.id)" [value]="role.id"
                [checked]="role.checked">{{role.desc}}</mat-checkbox>
            </ng-container>
          </div>
        </app-form-product-row>
        <app-button types="submit">Lưu</app-button>
      </form>
    </div>
  </div>
</div>