@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-content text-black text-sm;
    line-height: 1.5 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  main {
    @apply min-h-[40vh] my-5;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.icon-header {
  @apply flex items-center justify-center px-4 py-3 transition-all rounded-lg hover:bg-slate-100;
}
.open {
  display: block;
}
#toast-container > div {
  opacity: 1;
}
