.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputFile + label {
  cursor: pointer;
  @apply px-4 py-2 my-2 transition-all border rounded;
}

.inputFile:focus + label,
.inputFile + label:hover {
  @apply bg-slate-100;
}
